asgiref==3.2.3
certifi==2019.11.28
Django==3.1.12
docopt==0.6.2
gunicorn==20.0.4
matplotlib==3.3.1
numpy==1.19.1
pandas==1.1.0
Pillow==7.2.0
praat-parselmouth==0.3.3
psycopg2==2.8.5
pykwalify==1.7.0
pympi-ling==1.69
pytz==2019.3
ruamel.yaml==0.15.100
sqlparse==0.3.0