{% extends 'base.html' %}

{% block content %}
<h1>Choose smoothing parameters:</h1>
<form id="select_smoothing_params_form" method="post">{% csrf_token %}
    <div class="field has-addons">
        <p class="control">
            <span class="select">
                <select class=select name="lambda">
                {% for lam in grid_lam %}
                    <option value="{{lam}}">log(Lambda): {{lam}}</option>
                {% endfor %}
                </select>
            </span>
        </p>
        <p class="control">
            <span class="select">
                <select name="knots">
                    {% for knot in grid_knots %}
                        <option value="{{knot}}">Knots: {{knot}}</option>
                    {% endfor %}
                </select>
            </span>
        </p>
        <p class="control">
            <input class="button is-primary" type="submit">
        </p>
    </div>
</form>
<img src="charts/gcverr">
<h3>
    Optimal log(Lambda) according to minimized error: {{lam}}
</h3>
<h3>
    Optimal number of knots according to minimized error: {{knots}}
</h3>
<img src="charts/combined">
{% endblock %}