{% extends 'base.html' %}

{% block content %}
<h1>
    Choose smoothing parameters. The preselected values are those
    which are optimal according to the gvc error plot (below).
    Below that, you can check the curves for all combination of knots 
    and log(lambda) to ensure that no overfitting takes place.
</h1>
<form id="select_smoothing_params_form" method="post">{% csrf_token %}
    <div class="field has-addons">
        <p class="control">
            <span class="select">
                <select class=select name="lambda">
                {% for lam in grid_lam %}
                    <option value="{{lam}}" 
                    {% if lam == lambda %}selected="selected"{% endif %}>
                        log(Lambda): {{lam}}
                    </option>
                {% endfor %}
                </select>
            </span>
        </p>
        <p class="control">
            <span class="select">
                <select name="knots">
                    {% for knot in grid_knots %}
                        <option value="{{knot}}"
                        {% if knot == knots %}selected="selected"{% endif %}>
                            Knots: {{knot}}
                        </option>
                    {% endfor %}
                </select>
            </span>
        </p>
        <p class="control">
            <input class="button is-primary" type="submit">
        </p>
    </div>
</form>
<img src="charts/gcverr">
<img src="charts/combined">
{% endblock %}