{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3">
    Analysis settings
</h1>
<p class="content">
    Choose the smoothing parameters (lambda and number of knots) from the dropdown menus.
    The preselected values are those
    which are optimal according to the gvc error plot (below). 
    Also set how many principal components should be used for 
    analyzing the smoothed curves (default: 3).
</p>
{% if skipped %}
<p class="content">
    The following files were skipped due to missing pitch information 
    in the region of interest:
    {{skipped}}.
</p>
{% endif %}
<p class="content">
    Below, you can inspect smoothing results for file 
    <em>{{filename}}</em> for all combination of knots 
    and log(lambda) to finetune these values (i.e., to avoid overfitting).
</p>

<form id="select_smoothing_params_form" method="post">{% csrf_token %}
    <div class="field has-addons">
        <p class="control">
            <span class="select">
                <select class=select name="lambda">
                {% for lam in grid_lam %}
                    <option value="{{lam}}" 
                    {% if lam == lambda %}selected="selected"{% endif %}>
                        log(Lambda): {{lam}}
                    </option>
                {% endfor %}
                </select>
            </span>
        </p>
        <p class="control">
            <span class="select">
                <select name="knots">
                    {% for knot in grid_knots %}
                        <option value="{{knot}}"
                        {% if knot == knots %}selected="selected"{% endif %}>
                            Knots: {{knot}}
                        </option>
                    {% endfor %}
                </select>
            </span>
        </p>
        <p class="control">
            <span class="select">
                <select name="nharm">
                    {% for nharm in nharm_values %}
                        <option value="{{nharm}}"
                        {% if nharm == nharm_preset %}selected="selected"{% endif %}>
                            Principal components: {{nharm}}
                        </option>
                    {% endfor %}
                </select>
            </span>
        </p>
        <p class="control">
            <input class="button is-primary" type="submit">
        </p>
    </div>
</form>
<img src="charts/gcverr">
<img src="charts/combined">
{% endblock %}